

.eth-btn {
    margin: 25px;
    width: 80%;
    min-width: 220px;
    max-width: 220px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
}
.eth-btn .eth-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    user-select: none
}
.eth-btn .eth-icon-svg {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
    user-select: none
}
.eth-btn .btn-text {
    float: right;
    margin: 11px 14px 40px 40px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.eth-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.eth-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}

.normal-btn {
    margin: 25px;
    width: auto;
    display: inline-block;
    min-width: auto;
    max-width: 184px;
    height: 42px;
    background-color: #fcfcfc;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 400ms ease 0s
}
.normal-btn .btn-text {
    float: left;
    margin: 11px 14px 11px 14px;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.normal-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.normal-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}
